<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVYYn7C-cxjTi_9KC41Aju2QIEkqiBxX0</string>
	<key>GCM_SENDER_ID</key>
	<string>403718586951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felipeavila.meuapp.chatSwift</string>
	<key>PROJECT_ID</key>
	<string>chat-swiftui-822e2</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-swiftui-822e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403718586951:ios:2f2f38082331c851f82762</string>
</dict>
</plist>